
.comment {
    display: flex;
    flex-direction: column;
    // padding: 12px;
    padding-right: 0;
    padding-bottom: 0;
    // padding-left: 12px;
    border-left: 4px solid transparent;
    // pointer-events: none;
    // padding-left: 8px;
    // transform: scale(1);

    // white-space: pre;

    position: relative;

    &:hover {
        // background: none;
        border-left: 4px solid hsl(0, 0%, 25%);
        
        & > .postLabelContainer {
            transform: translateX(4px);
        }
    }
    &:has(.comment:hover) > .postLabelContainer {
        transform: translateX(0px);
    }

    &.current::after {
        content: '';
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-left: 4px solid hsl(0, 0%, 25%);
        // transform: translateX(0);
    }

    &:active {
        transform: none;
    }    
}

.VotingContainer {
    display: flex;
    gap: 2px;
}

.collapsed {
    white-space: nowrap;
    text-overflow: ellipsis;
    // padding-top: 8px;
    padding-bottom: 8px;
    // opacity: 0.65;
}

.comment:has(.comment:hover) {
    border-left-color: transparent;
}
// *:has(.comment:hover) {
//     pointer-events: none;
// }