@use './utils.scss';

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.PanelContainer {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 32px);
  max-width: 100vw;
  height: 100%;

  align-self: stretch;

  box-sizing: border-box;
  margin: 16px 8px;
  padding: 8px;
  background-color: hsl(0, 0%, 100%, .1);
  border-radius: 20px;

  & > * {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .Panel {
    // padding: 12px;
    min-height: 0;
    max-height: 100%;
    // width: 100%;
    // max-width: 100%;
    overflow: auto;
    @include utils.no-scrollbar();
    // @include no-scrollbar();
  }
  // &>* {
  //   height: 100vh;
  // }
  
  // .PostPanel {
    
    // }
    
  // .ListingPanel {
  //   overflow-y: scroll;
  //   display: flex;
  //   flex-direction: column;
  //   max-height: 100vh;
  //   @include no-scrollbar();
  // }
}