
.HomePanel {
    position: relative;
    top: 100%;

    &:hover {
        .TitleContainer {
            display: block;
        }
    }
}

.IconsContainer,.TitleContainer {
    background: black;
    transition: .3s;
    // opacity: 1;
    pointer-events: all;
    z-index: -1;
    height: 50vh;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    // height: 100%;
    min-width: 70px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    &.Opened {
        opacity: 1;
        transform: translate(0);
        pointer-events: all;
    }
    &.Closed {
        opacity: 0;
        transform: translateY(-100px);
        pointer-events: none;
    }
}

// .TitleContainer {
//     display: none;
//     background: black;
//     position: absolute;
//     left: 100%;
//     top: 0;
//     bottom: 0;
//     width: max-content;
//     max-width: 400px;
//     z-index: 10;
// }

.Item {
    display: flex;
    position: relative;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    cursor: pointer;
    // pointer-events: none;

    &:hover {
        background-color: hsl(0, 0%, 50%);
    }
}