.PostsPanel {
    flex: 1;
    position: relative;
    max-width: 100vw;
    min-height: 0;

    display: flex;
}


.post-container {
    display: flex;
    overflow: auto;
    max-height: 100%;

}

.gallery-controls {
    position: absolute;
    bottom: 0;   
    left: 32px;
    right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    transform: translateY(100%);
    opacity: 0;
    transition: opacity .5s, transform .2s;

    &.shown {
        transform: none;
        opacity: 1;
    }
}

.thumbnails-container {
    display: flex;
    overflow: auto;
    max-width: 100%;

    img {
        min-width: 75px;
        min-height: 75px;
        cursor: pointer;

        &:hover {
            background-color: hsl(0, 0%, 15%);
        }

        &.current {
            border: 4px solid blue;
            // border-style: outset;
        }
    }
}

.controls-container {
    display: flex;
    width: 100%;
    padding: 12px;
    gap: 4px;

    .side {
        display: flex;
        gap: 4px;
        
        &.right {
            margin-left: auto;
        }
        &.left {
            margin-right: auto;
        }
    }

    // & :first-child {
    //     margin-right: auto;
    // }
    // & :last-child {
    //     margin-left: auto;
    // }
}



.Container {
    display: flex;
    // overflow: hidden;
    transition: .3s;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    position: relative;

    & > * {
        min-width: 50vw;
        max-width: 50vw;
        scroll-snap-align: start;
    }
}

.EdgeDetector {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;

    width: 16px;

    &.left {
        left: 0;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow: auto;
        &.visible {
            width: 50px;
            background: navy;
        }
    }
    &.right {
        right: 0;
    }
}


.Item {
    display: flex;
    cursor: pointer;
    padding: 12px;
    gap: 12px;
    // transition: .3s;
    &:hover {
        background-color: hsl(0, 0%, 15%);
    }
    img {
        max-width: 100px;
    }
}

$edge-width: 48px;
$edge-top: 64px;


.post-header {
    width: 100%;
    height: $edge-top;
    padding-left: $edge-width;
    position: absolute;
    top: 0;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    // background: linear-gradient(to bottom, black, transparent);
    background: hsl(0, 0%, 15%);
    // box-shadow: 0px 0px 20px hsl(0, 0%, 15%);
    // opacity: 0;
    transition: .3s;
    
    // h3 {
    //     font-weight: bold;
    // }

    @at-root .Post.shown & {
        opacity: 1;
    }
}


// .post-image {
//     max-width: 100%;
// }

.edges {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: $edge-width;
    min-height: $edge-width;
    z-index: 2;
    writing-mode: vertical-rl;
    text-align: center;
    vertical-align: center;
    opacity: 0;
    // transition: .3s;
    display: flex;
    justify-content: center;
    transition: .3s;

    &.shown, &.open {
        opacity: 1;
    }

    &.left, &.right {
        width: $edge-width;
        background: transparent;
        z-index: -1;
    }
    &.left {
        // position: relative;
        left: unset;
        right: 0;
        z-index: -1;
        transform: translateX(100%);
        border-radius: 0 20px 20px 0;
    }
    &.right {
        // background: linear-gradient(to left, black, transparent);
        border-radius: 20px 0 0 20px;
        // left: unset;
        left: 0;
        right: unset;
        transform: translateX(-100%);
        .clickable-edge {
            transform: rotate(-180deg);
        }
    }
    
    &:has(.clickable-edge:hover), &.open {
        // font-size: 1.2rem;
        background: hsl(0, 0%, 10%);
        box-shadow: 0px 0px 20px 4px black;
        width: calc($edge-width + 32px);
        // margin: 20px;
    }

    .clickable-edge {
        position: relative;
        align-self: center;
        width: 100%;
        transition: .3s;
        display: grid;
        place-items: center;
        cursor: pointer;

        $top-marg: 24px;
        padding-top: $top-marg;
        padding-bottom: $top-marg;
        &::after {
            content: '';
            // margin: -4px;
            // margin-top: $top-marg;
            // margin-bottom: $top-marg;
            // margin-left: -5px;
            // margin-right: -4px;
            background-color: white;
            position: absolute;
            height: 0;
            width: 4px;
            left: 0;
            // bottom: 0;
            opacity: 0;
            transform: translateY(-50%);
            top: 50%;
            transition: .3s;
        }

        &::before {
            left: unset;
            bottom: unset;
            right: 0;
            top: 0;
        }
        
        &:hover, &.open {

            &::after, &::before {
                height: 100%;
                opacity: 1;
                // height: calc(100% + $top-marg * -2);
            }
        }
    }
    &.top {
        bottom: unset;
    }
    &.bottom {
        top: unset;
    }
}

.floating-panel {
    height: 100%;
    width: 50vw;
    position: absolute;
    z-index: 10;
    transition: .3s;

    .bg-modal {
        position: fixed;
        inset: 0;
        background: hsl(0, 0%, 0%, .1);
        z-index: -1;
    }
    
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }

    .content-container {
        height: 100%;
        width: 100%;
        background: hsl(0, 0%, 10%);
    }
    &.closed {
        &.left {
            transform: translateX(-100%);
        }
        &.right {
            transform: translateX(100%);
        }
    }
}

.Post {
    padding: $edge-width;
    padding-top: $edge-top;
    padding-bottom: 8px;

    background-color: hsl(0, 0%, 15%);
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: initial;
    white-space: initial;
    text-align: initial;
    min-height: 0;

    position: relative;

    
    & > :last-child {
        padding-bottom: 150px;
    }

    &.fit-height {
        & > :last-child {
            padding-bottom: unset;
        }
        &.shown > :last-child {
            padding-bottom: 150px;
        }

        // padding-bottom: 32px;
        .Content {
            max-height: 100%;
            min-height: 0;
            flex: 1;
            & > * {
                max-height: 100%;
                min-height: 0;
                flex: 1;
                flex-basis: auto;
            }
            iframe {
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
            }
        }
    }
    
    .Content {
        // height: 512px;
        overflow: auto;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // min-height: 0;
        
        // & > * {
        //     min-height: 0;
        //     flex: 1;
        // }

        .MediaEmbed {
            position: relative;
            width: 100%;
            max-height: 99%;
        }
        
        .videoPlayer {
            max-width: 100%;
            display: flex;

            video {
                flex: 1;
                min-width: 0;
                min-height: 0;
                max-height: 100%;
            }
        }
    }
}

