@use './utils.scss';

.videoPlayer {
    height: 100%;
    width: 100%;
    & > * {
        height: 100% !important;
        width: 100% !important;
    }
}

.postContainer {
    // background-color: pink;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
    overflow-y: auto;
    @include utils.no-scrollbar();
}

.contentContainer {
    min-height: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include utils.no-scrollbar();
    
    // & * {
    //     min-height: 0;
    // }
}

.embeddedContent {
    // max-width: 50vw;
    // max-height: 200px;
    width: 100%;
    height: 100%;
    // background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // padding: 20px;
    position: relative;
    
}

.link {
    word-wrap: break-word;
    display: flex;
    align-items: center;
    gap: 20px;
    // flex-wrap: wrap;
    // background-color: rebeccapurple;
    
    h4 {
        max-width: 100%;
        min-width: 0;
        // word-wrap: break-word;
    }
}