@use './utils.scss';

// .SearchPanel {
//     // display: flex;
//     // flex-direction: column;
//     // align-items: stretch;
//     // justify-content: stretch;c

//     // &>* {
//     //     background-color: green;
//     // }
// }

.SearchPanel {
    // height: 100vh;

    .searchBar {
        min-width: 0;
        width: 100%;
    }

    .typeContainer {
        display: flex;
        flex-direction: column;
    }

    .SearchList {
        overflow: auto;
    }
    
    .safe-search {
        white-space: nowrap;
        background-color: rebeccapurple;
    }
    
    .searchType {
        outline: none;
        border: none;
        background: hsl(0, 0%, 10%);
        
        &:hover {
            background: hsl(0, 0%, 20%);
        }
    
        &.currentButton {
            border-bottom: 2px solid hsl(0, 0%, 75%);
        }
    }
}

.SearchPanel.empty {
    // justify-content: center;
    align-items: center;
    // background-color: red;
}


// .article {
    
//     padding: 16px;
//     cursor: pointer;

//     display: flex;
//     flex-direction: row;
//     gap: 20px;
//     transition: .1s;
//     border: 0px solid white;
//     $small-size: .85rem;
// }