
.Modal {
    position: fixed;
    inset: 0;
    background-color: hsl(0, 0%, 0%, .5);
    display: grid;
    place-content: center;
    z-index: 10;
    pointer-events: none;

    &.open {
        pointer-events: all;
        opacity: 1;
    }
    &.closed {
        pointer-events: none;
        opacity: 0;
    }
}

.VotingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    
    svg {
        cursor: pointer;
        height: 16px;
        width: 16px;

        &:hover {
            background: hsl(0, 0%, .15);
        }

        &.up {
            transform: translateY(1px);
        }
    
        &.down {
            transform: translateY(-1px);
        }
    }

}

.Reply {
    width: 200px;
    height: 200px;
    background: purple;

    textarea {
        width: 200px;
        height: 200px;
    }
}

.About {
    background: hsl(0, 0%, 15%);
    overflow: auto;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 100px);
    padding: 50px;
    inset: 50px;
    border-radius: 20px;
}

.flairsContainer {
    display: flex;
    flex-direction: column;
}